*.pyc
*.pydevproject
Goodfellow_GenerativeAdversarialNetworks/.project
*.png
Goodfellow_GenerativeAdversarialNetworks/data/*
*.jpg
Goodfellow_GenerativeAdversarialNetworks/.settings/org.eclipse.core.resources.prefs
Goodfellow_GenerativeAdversarialNetworks/results/*