*.pyc
*.pydevproject
*.png
.project
data/*
.settings/org.eclipse.core.resources.prefs
results/*
GenerativeModels/.ipynb_checkpoints
*.data-00000-of-00001
*.index
*.meta
*checkpoint
*.gz
VariationalAutoEncoders/.ipynb_checkpoints
trained_models/*
Notebooks/.ipynb_checkpoints/*