*.pyc
*.pydevproject
*.png
.project
data/*
.settings/org.eclipse.core.resources.prefs
results/*
GenerativeAdversarialNetworks/notebooks/.ipynb_checkpoints/*
*.data-00000-of-00001
*.index
*.meta
*checkpoint